{% load static %}

<!DOCTYPE html>
<html lang="en" class="fullPage">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/analysis.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/css/highcharts.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/analysisList.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/highcharts.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/js/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/js/modules/export-data.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.5/draggable.bundle.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ubuntu+Condensed" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Analysis</title>
</head>

<body class="bodyContainer" onload="initPage()" style="background-image: url('/static/images/monument-valley-background-do-1600x900.jpg');">


    <div class="navBarContainer">

        <div>
      
            <a class="buttonNav" href="{% url 'analysis' %}" id="active">Analysis</a>
            <a class="buttonNav" href="{% url 'geo' %}">GEO</a>

        </div>

        <div>

        </div>

        <div class="usersName">
            {% if user.is_authenticated %}
                Welcome {{ user.get_username }}!
            {% endif %}
            <a class="buttonNav" href="{% url 'landing' %}">My Account</a>
            <a class="buttonNav" href="{% url 'logged_out' %}">Logout</a>
        </div>
    </div>

    <div class="dataContainer">

        <div class="sectionContainer">

            <div class="containerTitleDiv">
                <p>My saved directories</p>
            </div>






            <div class="sectionContent">

                <div id="userData">
                  <input class="search" placeholder="Search" />
                  <button class="sort" data-sort="name">
                    Sort by directory
                  </button>

                <ul class="list2" >

                    <div class="headerList">
                        <div class="listItemContainer">
                            <div class="listItemLeftHeader">
                                <div>
                                    <p>Directory Name</p>
                                </div>
                                <div>
                                    <p>Organism</p>
                                </div>
                                <div>
                                    <p>Description</p>
                                </div>
                            </div>
                            <div class="listItemRight deletePlaceholder">
                                <i class="fa fa-minus fa-3x deleteIcon" aria-hidden="true"></i>
                            </div>

                        </div>
                    </div>

                </ul>

                  <ul class="list" id="listSelect">
                      {% for k in userData %}
                        <li>
                            <div class="listItemContainer">
                                <div class="listItemLeft">
                                    <div>
                                        <p class="name">{{ k.name }}</p>
                                    </div>
                                    <div>
                                        <p class="organism">{{ k.org }}</p>
                                    </div>
                                    <div>
                                        <p class="description">{{ k.desc }}</p>
                                    </div>
                                </div>
                                <div class="listItemRight">
                                    <i class="fa fa-minus fa-3x deleteIcon" aria-hidden="true"></i>
                                </div>

                            </div>
                        </li>
                      {% endfor %}
                  </ul>
                </div>
            </div>


            <div class = "uploadWrapper">
                <form method="post" enctype="multipart/form-data" >
                    {% csrf_token %}


                        <input id="fileInput" type="file" class="fileHideBrowserButton" name="userFile" directory webkitdirectory multiple required>
                        <div class="submitWrapper">
                            <button type="button" id="fileInputBtn" class="uploadButton">Choose files</button>
                            <div id="fileInputDescr" class="fileInputDescr">No files selected</div>
                            <button type="submit" class="uploadButton">Upload</button>
                        </div>





                    <br>

                    <br>

                    <input placeholder="Directory name[No spaces]" type="text" maxlength="20" name="userFileName" required>

                    <input placeholder="Organism" type="text" maxlength="50" name="userFileOrg" required>

                    <input placeholder="Description" type="text" maxlength="30" name="userFileDescr" required>


                </form>
            </div>




        </div>


    </div>

</body>
</html>
