{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/geo.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ubuntu+Condensed" rel="stylesheet">
    <meta charset="UTF-8">
    <title>GEO</title>
</head>
<body class="bodyContainer">

    <div class="navBarContainer">

        <div>
            <a class="buttonNav" href="{% url 'landing' %}">Home</a>
            <a class="buttonNav" href="{% url 'analysis' %}">Analysis</a>
            <a class="buttonNav" href="{% url 'geo' %}" id="active" >GEO</a>
            <a class="buttonNav" href="{% url 'search' %}">Search</a>
        </div>

        <div>

        </div>

        <div class="usersName">
            {% if user.is_authenticated %}
                User: {{ user.get_username }}
            {% endif %}
            <a class="buttonNav" href="{% url 'landing' %}">My Account</a>
            <a class="buttonNav" href="{% url 'logged_out' %}">Logout</a>
        </div>
    </div>

  <!--  <div class="listedGeoDatasets">
      <h1 style="text-align: center;">GEO DataSet Browser</h1>
      <ul>
        <li><strong>DataSet</strong> {{ Dataset }}</li>
        <li><strong>Title</strong> {{ Title }}</li>
        <li><strong>Organism</strong> {{ Organisms }}</li>
        <li><strong>Platform</strong> {{ Platform }}</li>
        <li><strong>Series</strong> {{ Series }}</li>
        <li><strong>Number of Samples</strong> {{ NumSamples }}</li>
        <li><strong>Contributor(s)</strong> {{ Contributors }}</li>
        <li><strong>Publication Date</strong> {{ PubDate }}</li>
      </ul>
      {{% block content %}

        {% if geostudy_list %}
        <ul>
          {% for study in queryset %}
          <li>
            {{ study.Dataset }} {{ study.Title }}
          </li>
          {% endfor %}

        </ul>
        {% else %}
          <p>No found GEO DataSets at this time, check your connection.</p>
        {% endif %}
      {% endblock %}}
    </div> -->
    <div class="sectionContent">

        <div id="GEOData">
          <input class="search" placeholder="Search" />
          <button class="sort" data-sort="name">
            Sort by name
          </button>

    <!--<ul class="list2" >

        <div class="headerList">
            <div class="listItemContainer">
                <div class="listItemLeftHeader">
                    <div>
                        <p>Name</p>
                    </div>
                    <div>
                        <p>Organism</p>
                    </div>
                    <div>
                        <p>Description</p>
                    </div>
                </div>
                <div class="listItemRight deletePlaceholder">
                    <i class="fa fa-minus fa-3x deleteIcon" aria-hidden="true"></i>
                </div>

            </div>
        </div>

    </ul> -->

    <ul class="list" id="listSelect">
        {% for k in GEOData %}
          <li>
              <div class="listItemContainer">
                  <div class="listItemLeft">
                      <div>
                          <p class="name">{{ k.Set }}</p>
                      </div>
                      <div>
                          <p class="organism">{{ k.Title }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Org }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Platform }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Series }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Num }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Con }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Pub }}</p>
                      </div>
                      <div>
                          <p class="description">{{ k.Link }}</p>
                      </div>
                  </div>

              </div>
          </li>
        {% endfor %}
    </ul>
  </div>
</div>

</body>
</html>
