{% load static %}

<!DOCTYPE html>
<html lang="en" class="fullPage">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/geo.css" %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/css/highcharts.css">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/geoList.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/highcharts.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highstock/6.0.3/highstock.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/js/modules/exporting.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/6.0.7/js/modules/export-data.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/draggable/1.0.0-beta.5/draggable.bundle.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ubuntu+Condensed" rel="stylesheet">
    <meta charset="UTF-8">
        <title>GEO</title>
</head>
<body class="bodyContainer" onload="initPage()" style="background-image: url('/static/images/webplunder-background-image-technology-online-website-solutions.jpg'); background-size: cover;">

    <div class="navBarContainer">

        <div>

            <a class="buttonNav" href="{% url 'analysis' %}">Analysis</a>
            <a class="buttonNav" href="{% url 'geo' %}" id="active" >GEO</a>

        </div>

        <div>

        </div>

        <div class="usersName">
            {% if user.is_authenticated %}
                Welcome {{ user.get_username }}!
            {% endif %}
            <a class="buttonNav" href="{% url 'landing' %}">My Account</a>
            <a class="buttonNav" href="{% url 'logged_out' %}">Logout</a>
        </div>
    </div>

  <!--  <div class="listedGeoDatasets">
      <h1 style="text-align: center;">GEO DataSet Browser</h1>
      <ul>
        <li><strong>DataSet</strong> {{ Dataset }}</li>
        <li><strong>Title</strong> {{ Title }}</li>
        <li><strong>Organism</strong> {{ Organisms }}</li>
        <li><strong>Platform</strong> {{ Platform }}</li>
        <li><strong>Series</strong> {{ Series }}</li>
        <li><strong>Number of Samples</strong> {{ NumSamples }}</li>
        <li><strong>Contributor(s)</strong> {{ Contributors }}</li>
        <li><strong>Publication Date</strong> {{ PubDate }}</li>
      </ul>
      {{% block content %}

        {% if geostudy_list %}
        <ul>
          {% for study in queryset %}
          <li>
            {{ study.Dataset }} {{ study.Title }}
          </li>
          {% endfor %}

        </ul>
        {% else %}
          <p>No found GEO DataSets at this time, check your connection.</p>
        {% endif %}
      {% endblock %}}
    </div> -->

    <div class="dataContainer">
        <div class="sectionContainer">

            <div class="containerTitleDiv">
                <p>Please select a GEO database directory... </p>
            </div>

            <div class="sectionContent">

                <div id="GEOData">
                  <input class="search" placeholder="Search" />
                  <button class="sort" data-sort="name">
                    Sort by directory
                  </button>

                    <ul class="list2" >

                        <div class="headerList">
                            <div class="listItemContainer">
                                <div class="listItemLeftHeader">
                                    <div>
                                        <p>Dataset</p>
                                    </div>
                                    <div>
                                        <p>Title</p>
                                    </div>
                                    <div>
                                        <p>Organism</p>
                                    </div>
                                    <div id="noNeed">
                                        <p>Link</p>
                                    </div>

                                    <!--
                                    <div>
                                        <p>Series</p>
                                    </div>
                                    <div>
                                        <p>Number of Samples</p>
                                    </div>
                                    <div>
                                        <p>Contributors</p>
                                    </div>
                                    <div>
                                        <p>Publish Date</p>
                                    </div> -->
                                </div>
                                <div class="listItemRight deletePlaceholder">
                                    <i class="fa fa-minus fa-3x deleteIcon" aria-hidden="true"></i>
                                </div>

                            </div>
                        </div>

                    </ul>

                    <ul class="list" id="listSelect">
                        {% for k in GEOData %}
                          <li>
                              <div class="listItemContainer">
                                  <div class="listItemLeft">
                                      <div class="specificItem">
                                          <p class="Dataset">{{ k.Set }}</p>
                                      </div>
                                      <div class="specificItem">
                                          <p class="Title">{{ k.Title }}</p>
                                      </div>
                                      <div class="specificItem">
                                          <p class="Organism">{{ k.Org }}</p>
                                      </div>
                                      <div class="specificItem" id="noNeed">
                                          <p class="Link">{{ k.Link }}</p>
                                      </div>
                                      <!--<div>
                                          <p class="Series">{{ k.Series }}</p>
                                      </div>
                                      <div>
                                          <p class="SampleNumber">{{ k.Num }}</p>
                                      </div>
                                      <div>
                                          <p class="Contributors">{{ k.Con }}</p>
                                      </div>
                                      <div>
                                          <p class="PublishDate">{{ k.Pub }}</p>
                                      </div> -->
                                  </div>

                              </div>
                          </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    </div>

</body>
</html>
