{% load static %}

<!DOCTYPE html>
<html lang="en" class="fullPage">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/landing.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <meta charset="UTF-8">
    <title>PM Analysis</title>
</head>


<body class="landingBody">

    <div class="backgroundImgCover">

        <img class="backgroundImage" src="{% static 'images/monument-valley-background-do-1600x900.jpg' %}" alt="theBackground" style="">

    </div>

    <div class="navBarContainer">

        <div>

            <a class="buttonNavStatic">PM Analysis</a>
            <a class="buttonNav" href="{% url 'about' %}">About</a>
            <a class="buttonNav" href="{% url 'creators' %}">The creators</a>

        </div>

        <div>

        </div>

        <div>

            <a class="buttonNav" href="{% url 'signin' %}">Login</a>
            <a class="buttonNav" href="{% url 'signup' %}">Register</a>

        </div>
    </div>

    <div class="landingContent">

        <div class="intro">

            <h1>PM Analysis</h1>

            <h5>Graphical statistical analysis of phenotype data</h5>

        </div>

    </div>





        <!--<div class="landingBodyContainer">



        <div class="whatIs">

             <h1>What is PM Analysis?</h1>

             <h5>PM analysis is a graphical tool that runs the Welch's T-test on directories you upload right from your own computer.</h5>

        </div>





            <h1 class="content4">About Us</h1>

            <div class="content5">

                <img class="teamMembers" src="{% static 'images/blankTeam.jpg' %}" alt="teamMembers">

                <p>
                    The mastermind: Quentin Maltman
                </p>

                <p class="content10">
                    Quentin Maltman is a CS student at Oakland University, and he is the diving force behind PM Analysis.
                    PM Analysis is the brain child of Quentin, he is following a bio-informatics track and is passionate
                    about the field.
                </p>

            </div>

            <div class="content6">

                <img class="teamMembers" src="{% static 'images/Kendon.jpg' %}" alt="teamMembers">

                <p>
                    The code talker: Kendon Cowart
                </p>

                <p class="content10">
                    Kendon Cowart is a CS student at Oakland University. He is our primary back end developer, responsible
                    for making sure everything runs smoothly behind the scenes. Kendon was the team member who really ensured
                    our project took off.
                </p>

            </div>

            <div class="content7">

                <img class="teamMembers" src="{% static 'images/Larisa.jpg' %}" alt="teamMembers">

                <p>
                    The manager: Larisa Garmo
                </p>

                <p class="content10">
                    Larisa Garmo is an IT student at Oakland University. She is one of our front end developers and project
                    managers. She assists with all you see here as the user, as well as with database work.
                </p>

            </div>

            <div class="content8">

                <img class="teamMembers" src="{% static 'images/Valerie.jpg' %}" alt="teamMembers">

                <p>
                    The guru: Valerie Jarbo
                </p>

                <p class="content10">
                    Valerie Jarbo is an IT student at Oakland University, also preparing to graduate in April 2018. Valerie
                    is responsible for part of our front end development and our initial concepts and mockups. She helped to
                    form the whole project into one cohesive plan and is an invaluable team member.
                </p>

            </div>

            <div class="content9">

                <img class="teamMembers" src="{% static 'images/Courtney.jpg' %}" alt="teamMembers">

                <p>
                    The trailblazer: Courtney Woods
                </p>

                <p class="content10">
                    Courtney Woods is an IT student at Oakland University who will also graduate in April 2018. Courtney
                    is our front end developer and project manager. She helped to develop the user stores and requirements
                    for PM Analysis as well as working though the development and functionality of what you see here.
                </p>

            </div>

            <div class="landingBodyContainer">

                <div class="content11">

                    <h3>
                        Start analyzing data today!
                    </h3>

                    <div class="bottomButtonContainer">
                         <a href="{% url 'signup' %}" class="bottomButton">
                            Sign up
                         </a>
                    </div>


                </div>

        </div>

    </div>

    </div>-->
</body>
</html>
