{% load static %}

<!DOCTYPE html>
<html lang="en" class="fullPage">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/lOut.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bodyContainer" style="background-image: url('/static/images/webplunder-background-image-technology-online-website-solutions.jpg'); background-size: cover;">

    <div class="navBarContainer">

        <div>

            <a class="buttonNav" href="{% url 'landing' %}">Home</a>
            <a class="buttonNav" href="{% url 'signin' %}">Login</a>

        </div>

        <div>

        </div>

        <div>

        </div>
    </div>


    <div class="message">
        {% block content %}
            You have been logged out. <br>
            You may return to the home page or log in again.
        {% endblock %}
    </div>

</body>
</html>
