{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ubuntu+Condensed" rel="stylesheet">
    <meta charset="UTF-8">
    <title>PM Analysis</title>
</head>

<body class="signinBody">
{% block content %}

    <img src="{% static 'images/landingPage.jpg' %}" alt="landingPage" style="
                    width: 100%;
                    height: auto;
                    object-fit:  cover;"/>

    <div class="signinPageContainer">

        <div class="signinPageElement1">

            <h2 class="content1">Sign in</h2>

        </div>

        <div class="signinPageElement2">






        </div>






    </div>

{% endblock %}
</body>
</html>