{% load static %}

<!DOCTYPE html>
<html lang="en" class="fullPage">

<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/signup.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title>PM Analysis</title>

</head>

<!--<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>-->


  <!--<div class="w3-top">
  <div class="w3-bar w3-black w3-padding w3-card" style="letter-spacing:4px;">
    <a href="{% url 'landing' %}" class="w3-bar-item w3-button">PM Analysis</a>-->
    <!-- Right-sided navbar links. Hide them on small screens -->
    <!--<div class="w3-right w3-hide-small">

      <a href="{% url 'signin' %}" class="w3-bar-item w3-button">Login</a>
    </div>
  </div>
  </div>-->

<body class="signupBody" style="background-image: url('/static/images/webplunder-background-image-technology-online-website-solutions.jpg'); background-size: cover;">


    <div class="navBarContainer">

        <div>

            <a class="buttonNav" href="{% url 'landing' %}">Home</a>

        </div>

        <div>

        </div>

        <div>

            <a class="buttonNavStatic">Already have an account?</a>
            <a class="buttonNav" href="{% url 'signin' %}">Login</a>

        </div>
    </div>


    <div class="signupPageContainer">

        <div class="signupPageElement1">

            <h2 class="content1">Sign up</h2>

        </div>

        <div class="signupPageElement2">

        {% block content %}

            <form method="post">

                {% csrf_token %}

                {% for field in form %}

                    <p class="content2">
                        {{ field.label_tag }}<br>
                        {{ field }}

                        {% if field.help_text %}

                            <small style="display: none">{{ field.help_text }}</small>

                        {% endif %}

                        {% for error in field.errors %}

                            <p style="color: red">{{ error }}</p>

                        {% endfor %}

                    </p>

                {% endfor %}

                <button type="submit" class="signupSub">Sign up</button>

            </form>

        </div>

    </div>

{% endblock %}
</body>
</html>
