{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <title>PM Analysis</title>
    
</head>

<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>

<body class="signinBody">
  <div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="{% url 'landing' %}" class="w3-bar-item w3-button">PM Analysis</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">

      <a href="{% url 'signup' %}" class="w3-bar-item w3-button">Signup</a>
    </div>
  </div>
  </div>

    <img src="{% static 'images/landingPage.jpg' %}" alt="landingPage" style="
                    width: 100%;
                    height: 100%;
                    object-fit:  cover;"/>

    <div class="signinPageContainer">

        <div class="signinPageElement1">

            <h2 class="content1">Login</h2>

        </div>

        <div class="signinPageElement2">

            {% block content %}

                {% if form.errors %}
                <p class="error">Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                    <p class="error">Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                    {% else %}
                    <p class="error">Please login to see this page.</p>
                    {% endif %}
                {% endif %}

                <form method="post" action="{% url 'signin' %}">
                {% csrf_token %}

                    <div>
                      <td>{{ form.username.label_tag }}</td>
                      <td>{{ form.username }}</td>
                    </div>
                    <div>
                      <td>{{ form.password.label_tag }}</td>
                      <td>{{ form.password }}</td>
                    </div>

                    <div>
                      <input type="submit" value="login" />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </div>

                </form>

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'landing' %}">Lost password?</a></p>

            {% endblock %}

        </div>

    </div>

</body>
</html>
