.navBarContainer{
    background-color: #333;
    overflow: hidden;
}

.navBarContainer{
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
}

.buttonNav{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.buttonNav:hover{
    background-color: #ddd;
    color: black;
    padding: 15px;
    margin: 0px;
}

#active{
    background-color: lightskyblue;
    color: white;
    padding: 15px;
    margin: 0px;

}

.bodyContainer{
    margin: 0px;
}

.containerTitleDiv{
    margin: 10px;
    text-align: center;
}

.dataContainer{
    display: flex;
    flex-direction: column;
}

.listItemContainer{
    display: flex;
    justify-content: space-between;
}

.listItemLeft{
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}
.listItemLeftHeader{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.listItemLeft:hover{
    background-color: #e9e9ff;
}


.listItemLeftCom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 50px;
}

.deleteIcon{
    color: Red;
    padding-left: 20px;
    cursor: pointer;
}

#userData{
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

#communityData{
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.listCom{
    padding-right: 50px;
    list-style: none;
}

.list{
    list-style: none;
    overflow: auto;
    max-height: 600px;
}

.list2{
    list-style: none;
    overflow: auto;
    max-height: 600px;
}

.sectionContainer{
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Archivo Black', sans-serif;
}

.sectionContent{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.search{
    font-family: 'Ubuntu Condensed', sans-serif;
}

.sort{
    font-family: 'Ubuntu Condensed', sans-serif;
    border: solid lightskyblue;
    background-color: lightskyblue;
    transition-duration: 0.4s;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.sort:hover{
    border: solid lightskyblue;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.usersName{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: white;
    font-size: 17px;
}

.uploadWrapper{
    text-align: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.deletePlaceholder {
    visibility: hidden;
}

.headerList{
    font-weight: bold;
}

/*CSS for the popup div*/

.uiBody{
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 600px;
    z-index: 999;
    background-color: #e8e4e4;
    border: 1px solid;
    position: fixed;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
}

.headerClass{
    display: flex;
    margin: 20px;
    font-size: 25px;
    justify-content: center;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.radioClass{
    display: flex;
    justify-content: center;
    margin: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.bothButtons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.runClass{
    display: flex;
    background-color: #87cefa;
    font-size: 20px;
    margin: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.cancelClass{
    display: flex;
    font-size: 20px;
    margin: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.pClass{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.cClass{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.textContainer{
    display: flex;
    justify-content: center;
}

.myText{
    margin-left: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.dragContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.unusedContainer{
    box-shadow: 0 10px 20px -6px rgba(0,0,0,0.2);
    position: relative;
    width: 200px;
    margin: 0 auto;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.controlContainer{
    box-shadow: 0 10px 20px -6px rgba(0,0,0,0.2);
    position: relative;
    width: 200px;
    margin: 0 auto;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.expContainer{
    box-shadow: 0 10px 20px -6px rgba(0,0,0,0.2);
    position: relative;
    width: 200px;
    margin: 0 auto;
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.order{
    padding: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.tItemContainer{
    display: flex;
    align-items: baseline;
}

.moveIconContainer1{
    margin: 10px;
}

.moveIconContainer2{
    margin: 10px;
}

.moveIconContainer1:hover{
    margin: 10px;
    cursor: pointer;
}

.moveIconContainer2:hover{
    margin: 10px;
    cursor: pointer;
}

.namesContainer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.uploadButton{
    border: solid lightskyblue;
    background-color: lightskyblue;
    padding: 10px;
    transition-duration: 0.4s;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.uploadButton:hover{
    border: solid lightskyblue;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-weight: bold;
}

.fileButton{
    border: solid lightskyblue;
    background-color: lightskyblue;
    padding: 10px;
    transition-duration: 0.4s;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    color: white;
}

.fileButton:hover{
    border: solid lightskyblue;
    padding: 10px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    color: black;
    z-index: 1;
}

.fileHideBrowserButton{
    visibility: hidden;
}

.fileInputs{
    position: relative;
}

.submitWrapper{
    display: flex;
    justify-content: center;
}

.fileInputDescr{
    line-height: 50px;
    padding-right: 150px;
    padding-left: 10px;
}

.graphContainer{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.closeClass{
    justify-content: space-evenly;
    width: 55px;
    font-size: 20px;
    margin: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.exportClass{
    justify-content: space-evenly;
    width: 70px;
    font-size: 20px;
    margin: 10px;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.myButtonDivYay{
    display: flex;
}