{% extends 'base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
{% block content %}
<div class= "navbar">
  <a href="https://github.com/">  Home </a>
  <a href="https://moodle.oakland.edu"> Home1 </a>
  <a href="home2"> Home2 </a>
  <a href="home3"> Home3 </a>
  <a href="home4"> Home4 </a>
</div>
  <h2>Welcome, {{ user.get_full_name }} <small>{{ user.username }}</small>!</h2>
  <p>Thanks for confirming your email address!</p>
{% endblock %}
